pipelines/pl_Telecom_EndToEnd_Orchestration.txt
{
    "name": "pl_Telecom_EndToEnd_Orchestration",
    "objectId": "500eb0d8-41f4-413b-9d56-df5cb174f04e",
    "properties": {
        "activities": [
            {
                "name": "Loop_All_Months",
                "type": "ForEach",
                "dependsOn": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.p_months",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "v_year",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "v_year",
                                "value": {
                                    "value": "@pipeline().parameters.p_year",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "y_month",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "v_year",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "v_month",
                                "value": {
                                    "value": "@item()",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "y_file_name",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "y_month",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "v_file_name",
                                "value": {
                                    "value": "@concat('network_availability_', pipeline().parameters.p_year, '_', item(), '.csv')",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Invoke_Bronze_Pipeline_copy1",
                            "description": "The pipeline invokes the bronze network events pipeline.",
                            "type": "InvokePipeline",
                            "dependsOn": [
                                {
                                    "activity": "y_file_name",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "waitOnCompletion": true,
                                "operationType": "InvokeFabricPipeline",
                                "pipelineId": "76f87ec0-d513-40cd-b9c9-beb646ba0107",
                                "workspaceId": "ece84d08-10a4-466e-be9f-0754b1e72e17",
                                "parameters": {
                                    "p_year": {
                                        "value": "@variables('v_year')",
                                        "type": "Expression"
                                    },
                                    "p_month": {
                                        "value": "@variables('v_month')",
                                        "type": "Expression"
                                    },
                                    "p_file_name": {
                                        "value": "@variables('v_file_name')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "externalReferences": {
                                "connection": "c39082e1-8818-47d7-ad12-b610188860f2"
                            }
                        },
                        {
                            "name": "Dataflow_Bronze_To_Silver",
                            "description": "This runs the minor transformations done in the dataflow.",
                            "type": "RefreshDataflow",
                            "dependsOn": [
                                {
                                    "activity": "Invoke_Bronze_Pipeline_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "dataflowId": "df214ab2-53a0-42cb-bd29-d10c5b8f8a16",
                                "workspaceId": "ece84d08-10a4-466e-be9f-0754b1e72e17",
                                "notifyOption": "NoNotification",
                                "dataflowType": "DataflowFabric"
                            }
                        },
                        {
                            "name": "Silver_Notebook_Transformations",
                            "type": "TridentNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Dataflow_Bronze_To_Silver",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "69958dcb-0f98-4c5e-b311-c06c637da248",
                                "workspaceId": "ece84d08-10a4-466e-be9f-0754b1e72e17"
                            }
                        },
                        {
                            "name": "Invoke_Gold_Pipeline",
                            "description": "The pipeline invokes the gold processing pipeline.",
                            "type": "InvokePipeline",
                            "dependsOn": [
                                {
                                    "activity": "Silver_Notebook_Transformations",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "waitOnCompletion": true,
                                "operationType": "InvokeFabricPipeline",
                                "pipelineId": "39d1f0ca-ebad-409b-80c9-ef557391da6b",
                                "workspaceId": "ece84d08-10a4-466e-be9f-0754b1e72e17"
                            },
                            "externalReferences": {
                                "connection": "c39082e1-8818-47d7-ad12-b610188860f2"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "p_year": {
                "type": "string",
                "defaultValue": "2024"
            },
            "p_months": {
                "type": "array",
                "defaultValue": [
                    "05",
                    "06"
                ]
            }
        },
        "variables": {
            "v_year": {
                "type": "String"
            },
            "v_month": {
                "type": "String"
            },
            "v_file_name": {
                "type": "String"
            }
        },
        "lastModifiedByObjectId": "15d67648-f68f-4c40-84df-f9f5f5d930e3",
        "lastPublishTime": "2026-02-26T09:21:56Z"
    }
}